canvas {
    border: 2px solid black;
    border-radius: 20px;
    display: block;
}

.header {
    font-family: Impact;
    color: black;
}

.menu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rectButton {
    width: 240px;
    height: 80px;
    border: 10px solid orange;
    border-radius: 10px;
    background-color: rgb(240, 180, 15);
    font-family: OCR A Std;
    font-size: 30px;
    color: rgb(200, 240, 0);
}

#instructionText {
    white-space: pre-line;
    font-family: Arial;
    font-style: italic;
    font-size: 24px;
    line-height: 35px;
    padding: 30px;
    margin-bottom: 60px;
    background-image: url(images/textbox.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#main {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.button {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 60px;
    height: 60px;
    background-image: url('images/mute.png');
    background-color: #FFF0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    z-index: 1;
}

#tagListContainer {
    position: relative;
    width: 1200px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.tagList {
    position: relative;
    height: 300px;
    width: 600px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: "flex-start";
}

.select {
    width: 250px;
    height: 40px;
    margin-left: 5px;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
    font-size: 20px;
}

.tag {
    line-height: 40px;
}

.tagToggle {
    width: 18px;
    height: 18px;
}

.tagLabel {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    color: black;
    padding-left: 5px;
}

#bonusLabel {
    font-family: Verdana, sans-serif;
    font-size: 24px;
    line-height: 0px;
}

#pauseText {
    font-family: Impact;
    font-size: 70px;
    color: yellow;
    line-height: 20px;
    margin-top: 240px;
}

#gameOverText {
    font-family: Impact;
    font-size: 70px;
    color: yellow;
    line-height: 0px;
    margin-top: 120px;
}

#scoreText {
    font-family: Impact;
    font-size: 40px;
    color: yellow;
    line-height: 0px;
}